*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    display: grid;
    /* gap: 1rem; */
    grid-template-areas:
    "header header"
    "nav nav"
    "aside section"
    "footer footer";
    grid-template-columns: 180px auto;
}

header{
    grid-area: header;
    height: 150px;
    text-align: center;
}

nav{
    grid-area: nav;
    text-align: right;
    padding: 1rem 2rem;
    background-color: #15AEED;
}

nav p{
    display: inline-block;
    padding: 0 0.5rem;
    color: #fff;
    letter-spacing: 0.1rem;
}

nav p:hover{
    color: #B9C8BC;
}

aside{
    grid-area: aside;
    padding: 1rem 0;
    border-right: 0.5rem solid #15AEED;
}

aside h3{
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
}

aside div{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.aside-flex-container{
    display: flex;
    flex-direction: column;
}

.product_category{
    font-size: 1rem;
}

.product_category:hover{
    text-decoration:underline;
}

.product_unit{
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

section{
    grid-area: section;
    text-align: center;
    padding: 1rem 0;
}

section h1{
    letter-spacing: 0.1rem;
}

.product_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin: 1rem 1rem;
    border: 4px solid #2044E0;
    width: 300px;

}

.product_name{
    padding: 5px 0;
    font-weight: bold;
}

button{
    background-color: #15AEED;
    border: none;
    padding: 0.5rem 5rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

button:hover{
    background-color: #B9C8BC;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #15AEED;
}

footer p{
    font-weight: bold;
}